body {
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.menu {
    width: 30%;
    height: 80vh;
    background-color: burlywood;
}

.contenedor {
    width: 70%;
    height: 80vh;
}

.reproductor {
    width: 100%;
    height: 20vh;
    background-color: aqua;
}

.buscador {
    width: 100%;
    height: 20%;
    background-color: aquamarine;
}

.contenido {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}